@font-face {
    font-family: Particle-Regular;
    src: url(particle-regular.311f5c4f.otf);
}
@font-face {
    font-family: KelsonSansRU;
    src: url(KelsonSansRU.78f45332.otf);
}
@font-face {
    font-family: Unispace;
    src: url(Unispace.6c02f9d9.ttf);
}